In [39]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_csv('loan_data.csv')

In [41]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [42]:
pd.options.display.max_columns= None
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [43]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
376,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
377,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
378,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
379,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
380,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [44]:
df.shape

(381, 13)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [49]:
df.isnull().sum()

Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [64]:
import pandas as pd


df = pd.read_csv('loan_data.csv')

# Display basic info and check for class imbalance
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

(None,
     Loan_ID Gender Married Dependents     Education Self_Employed  \
 0  LP001003   Male     Yes          1      Graduate            No
 1  LP001005   Male     Yes          0      Graduate           Yes
 2  LP001006   Male     Yes          0  Not Graduate            No
 3  LP001008   Male      No          0      Graduate            No
 4  LP001013   Male     Yes          0  Not Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
 0             4583             1508.0       128.0             360.0
 1             3000                0.0        66.0             360.0
 2             2583             2358.0       120.0             360.0
 3             6000                0.0       141.0             360.0
 4             2333             1516.0        95.0             360.0

    Credit_History Property_Area Loan_Status
 0             1.0         Rural           N
 1             1.0         Urban           Y
 2             1.0         Urban           Y
 3             1.0         Urban           Y
 4             1.0         Urban           Y  )

In [66]:
# Check class distribution
class_distribution = df["Loan_Status"].value_counts(normalize=True) * 100
class_distribution

Loan_Status
Y    71.128609
N    28.871391
Name: proportion, dtype: float64

In [70]:
# Check for any remaining NaN values in X before applying SMOTE
missing_values = X.isnull().sum().sum()
missing_values

np.int64(41)

In [89]:
# Redefine features (X) and target (y)
X = df.drop(columns=["Loan_Status"])  # Features
y = df["Loan_Status"].map({"Y": 1, "N": 0})  # Convert target to binary

# Encode categorical variables using one-hot encoding
X = pd.get_dummies(X, drop_first=True)

# Ensure no missing values remain by imputing again
X = X.fillna(X.mean())

# Verify no missing values exist
X.isnull().sum().sum()

np.int64(0)

In [85]:
# Re-load the dataset
df = pd.read_csv("loan_data.csv")

# Display basic info and first few rows
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

(None,
     Loan_ID Gender Married Dependents     Education Self_Employed  \
 0  LP001003   Male     Yes          1      Graduate            No
 1  LP001005   Male     Yes          0      Graduate           Yes
 2  LP001006   Male     Yes          0  Not Graduate            No
 3  LP001008   Male      No          0      Graduate            No
 4  LP001013   Male     Yes          0  Not Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
 0             4583             1508.0       128.0             360.0
 1             3000                0.0        66.0             360.0
 2             2583             2358.0       120.0             360.0
 3             6000                0.0       141.0             360.0
 4             2333             1516.0        95.0             360.0

    Credit_History Property_Area Loan_Status
 0             1.0         Rural           N
 1             1.0         Urban           Y
 2             1.0         Urban           Y
 3             1.0         Urban           Y
 4             1.0         Urban           Y  )

In [86]:
# Drop Loan_ID as it is not useful for prediction
df = df.drop(columns=["Loan_ID"])

# Separate numerical and categorical columns
num_cols = df.select_dtypes(include=["number"]).columns
cat_cols = df.select_dtypes(include=["object"]).columns

# Fill missing values: Numerical -> Mean, Categorical -> Mode
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())
df[cat_cols] = df[cat_cols].apply(lambda x: x.fillna(x.mode()[0]))

# Convert target variable to binary (Y = 1, N = 0)
df["Loan_Status"] = df["Loan_Status"].map({"Y": 1, "N": 0})

# One-hot encode categorical variables
df = pd.get_dummies(df, drop_first=True)

# Verify preprocessing is complete
df.isnull().sum().sum(), df.head()

(np.int64(0),
    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
 0             4583             1508.0       128.0             360.0
 1             3000                0.0        66.0             360.0
 2             2583             2358.0       120.0             360.0
 3             6000                0.0       141.0             360.0
 4             2333             1516.0        95.0             360.0

    Credit_History  Loan_Status  Gender_Male  Married_Yes  Dependents_1  \
 0             1.0            0         True         True          True
 1             1.0            1         True         True         False
 2             1.0            1         True         True         False
 3             1.0            1         True        False         False
 4             1.0            1         True         True         False

    Dependents_2  Dependents_3+  Education_Not Graduate  Self_Employed_Yes  \
 0         False          False                   False              False
 1         False          False                   False               True
 2         False          False                    True              False
 3         False          False                   False              False
 4         False          False                    True              False

    Property_Area_Semiurban  Property_Area_Urban
 0                    False                False
 1                    False                 True
 2                    False                 True
 3                    False                 True
 4                    False                 True  )

In [87]:
# Import necessary libraries for SMOTE and model training
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Define features (X) and target (y)
X = df.drop(columns=["Loan_Status"])
y = df["Loan_Status"]

# Split data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Apply SMOTE to balance the classes in training data
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# Standardize the features (especially for SVM)
scaler = StandardScaler()
X_train_resampled = scaler.fit_transform(X_train_resampled)
X_test = scaler.transform(X_test)

# Verify new class distribution after SMOTE
y_train_resampled.value_counts(normalize=True) * 100

Loan_Status
0    50.0
1    50.0
Name: proportion, dtype: float64

In [98]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Train a Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)

# Evaluate performance using Precision, Recall, and F1 Score
print("Random Forest Model Performance:\n", classification_report(y_test, y_pred_rf))

Random Forest Model Performance:
               precision    recall  f1-score   support

           0       0.52      0.73      0.60        22
           1       0.87      0.73      0.79        55

    accuracy                           0.73        77
   macro avg       0.69      0.73      0.70        77
weighted avg       0.77      0.73      0.74        77

C:\Users\Admin\PycharmProjects\pythonProject2\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(